# Jackson settings
SAML_AUDIENCE=https://saml.boxyhq.com
JACKSON_API_KEYS="secret"
IDP_ENABLED=
PRE_LOADED_CONFIG=

# Database settings
DB_ENGINE=sql
DB_URL=postgres://postgres:postgres@localhost:5450/jackson
DB_TYPE=postgres
DB_TTL=300
DB_CLEANUP_LIMIT=1000
DB_ENCRYPTION_KEY=

# SMTP config (Magic link signin)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# Next Auth
NEXTAUTH_JWT_SIGNING_PRIVATE_KEY="CHANGE-THIS! VERY IMPORTANT!"
NEXTAUTH_URL=http://localhost:5000/