apiVersion: apps/v1
kind: Deployment
metadata:
  name: jackson
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: jackson
          image: boxyhq/jackson:tagwillbereplaced
          imagePullPolicy: IfNotPresent
