.form {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
}

.input {
  font: inherit;
  appearance: none;
  background-color: #fff;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #ebedf0;
  border-style: solid;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  margin-top: 1px;
  outline: none;
  margin-bottom: 1rem;
}

.input:focus {
  box-shadow: 0 0 5px hsl(167deg 68% 65%);
}
