@import url('./base.css');
@import url('./sdk.css');
@import url('./components.css');
@import url('./demo1.css');

#app {
   display: flex;
   flex-direction: column;
   max-width: 1280px;  
   width: 100vw;
   height: 100vh;
   font-weight: normal;
}
  
a {
  text-decoration: none;
}