@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.theme-default {
  --color-primary: 37 194 160;
  --color-secondary: 48 56 70;
}

@layer components {
  #__next {
    @apply h-full;
  }
  .btn-primary {
    @apply cursor-pointer rounded-lg bg-primary/70 px-4 py-2 font-semibold text-white shadow-md hover:bg-primary/90 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply btn-primary bg-white font-medium text-gray-900 hover:bg-white disabled:cursor-not-allowed disabled:bg-gray-50;
  }
  .link-primary {
    @apply mt-2 flex items-center px-4 py-2 font-medium text-secondary/90 hover:font-bold dark:text-gray-400 dark:hover:text-gray-300 md:text-sm md:leading-6;
  }
}

.SearchEvents {
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}
